In [201]:
import selenium as s
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
import time
from selenium.webdriver.common.by import By
from tqdm import tqdm

In [2]:
# Initialize variables
# Windows PC:
PATH = "./drivers/chromedriver.exe"

# LINUX PC:
# PATH = "./drivers/chromedriver"

chrome_options = Options()
s = Service(PATH)
# chrome_options.add_argument("--headless")

driver = webdriver.Chrome(service=s, options=chrome_options)
immoweb_list = "https://www.immoweb.be/nl/zoeken/appartement/te-huur?countries=BE&page=1&orderBy=relevance"
driver.get(immoweb_list)

In [5]:
# Accept cookies
cookie_btn = "uc-btn-accept-banner"
time.sleep(2)
driver.find_element(By.ID, cookie_btn).click()

In [6]:
# Scroll down
y = 1000
for timer in range(0,10):
     driver.execute_script("window.scrollTo(0, "+str(y)+")")
     y += 1000  
     time.sleep(1)

In [109]:
# Get items       
def add_page_data(soup):
    item_class = "search-results__item"
    price_class = "card--result__price"
    address_class = "card__information card--results__information--locality card__information--locality"
    data = pd.DataFrame()

    for item in soup.select('li.'+ item_class):
        if item.select('div[class*="adfocus"]') == [] and item.select('div[class*="pdpads"]') == []:
            price = item.select("p."+price_class)[0].text
            properties = item.select("p.card__information.card--result__information.card__information--property")[0].text
            address = item.select("p.card__information.card--results__information--locality.card__information--locality")[0].text
            acc_type = item.select("a.card__title-link")[0].text

            df_temp = pd.DataFrame(data=[[acc_type, price, address, properties]], columns=["type", "price", "address", "properties"])
            if data.empty:
                data = df_temp
            else:
                data = data.append(df_temp)
    return data

In [58]:
data.head()

,type,price,address,properties
0,\n Appartement\n ...,€ 1.050 (+ € 150) \n 1050€ + 150€ per m...,\n 1030 Schaarbeek\n,\n 2 slp.\n \n 2 slaapkamers...
0,\n Loft\n,€ 1.400 (+ € 30) \n 1400€ + 30€ per maa...,\n 1180 Bruxelles\n,\n 2 slp.\n \n 2 slaapkamers...
0,\n Appartement\n ...,€ 840 (+ € 40) \n 840€ + 40€ per maand\...,\n 1040 Etterbeek\n,\n 1 slp.\n \n 1 slaapkamer\...
0,\n Appartement\n ...,€ 840 (+ € 40) \n 840€ + 40€ per maand\...,\n 1150 Woluwe-Saint-Pierre\n ...,\n 1 slp.\n \n 1 slaapkamer\...
0,\n Penthouse\n,€ 1.100 (+ € 100) \n 1100€ + 100€ per m...,\n 1140 Evere\n,\n 1 slp.\n \n 1 slaapkamer\...

In [132]:
soup = BeautifulSoup(driver.page_source)
data = pd.DataFrame()

pag_list = soup.select('li.pagination__item')
pag_amount = int(pag_list[len(pag_list)-2].text.strip("\n").split("\n")[1])
url_1 = "https://www.immoweb.be/nl/zoeken/appartement/te-huur?countries=BE&page="
url_2 = "&orderBy=relevance"

data = pd.DataFrame()
for pag_nr in tqdm(range(1, pag_amount+1)):
    url = url_1 + str(pag_nr) + url_2
    driver.get(url)
    
    # Get data
    df_temp = add_page_data(BeautifulSoup(driver.page_source))
    if data.empty:
        data = df_temp
    else:
        data = data.append(df_temp)

100%|████████████████████████████████████████████████████████████████████████████████| 333/333 [19:03<00:00,  3.43s/it]

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9990 entries, 0 to 0
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   type        9990 non-null   object
 1   price       9990 non-null   object
 2   address     9990 non-null   object
 3   properties  9990 non-null   object
dtypes: object(4)
memory usage: 390.2+ KB

## Clean data

In [139]:
data.head(1)

,type,price,address,properties
0,\n Appartement\n ...,€ 1.050 (+ € 150) \n 1050€ + 150€ per m...,\n 1030 Schaarbeek\n,\n 2 slp.\n \n 2 slaapkamers...

In [154]:
data["type"] = [a.strip() for a in data["type"]]

In [168]:
import re
def clean_price(price_str):
    l = price_str.split("+")
    l = [int(re.sub("[^0-9]", "", s)) for s in l]
    return l

In [170]:
data["total_price"] = [sum(clean_price(a.strip().split("\n")[1])) for a in data["price"]]
data["price"] = [clean_price(a.strip().split("\n")[1]) for a in data["price"]]

In [188]:
data["postal_code"] = [s.strip().split(" ")[0] for s in data["address"]]
data["city"] = [s.strip().split(" ")[1] for s in data["address"]]
data["address"] = [s.strip() for s in data["address"]]

In [202]:
np.unique([len(s.strip().split("\n")) for s in data["properties"]])

array([ 1,  3,  6, 12, 13])

In [252]:
# Add bedrooms
def add_bedrooms(properties):
    l = properties.strip().split("\n")
    if len(l) != 1 and len(l) != 6:
        new_l = l[0].split(" ")
        if len(new_l) > 2:
            return int(new_l[2])
        else:
            return int(new_l[0])
    else:
        return np.NaN

In [269]:
[s.strip().split("\n") for s in data["properties"]if len(s.strip().split("\n")) == 6][0]

['25',
 '',
 '                        ',
 '        m²',
 '     ',
 '        vierkante meters']

In [259]:
data["bedrooms"] = [add_bedrooms(s) for s in data["properties"]]

In [271]:
# Add surface area
def add_surface_area(properties):
    l = properties.strip().split("\n")
    if len(l) != 1 and len(l) != 3:
        new_l = l[0].split(" ")
        if len(new_l) == 12:
            return int(new_l[6])
        if len(new_l) == 13:
            return int(new_l[7])
        else:
            return int(new_l[0])
    else:
        return np.NaN

In [281]:
data["surface_area"] = [add_surface_area(s) for s in data["properties"]]

In [277]:
data = data.drop(["properties"], axis=1)

In [283]:
data.head()

,type,price,address,total_price,postal_code,city,bedrooms,surface_area
0,Appartement,"[1050, 150]",1030 Schaarbeek,1200,1030,Schaarbeek,2.0,2.0
0,Loft,"[1400, 30]",1180 Bruxelles,1430,1180,Bruxelles,2.0,2.0
0,Appartement,"[840, 40]",1040 Etterbeek,880,1040,Etterbeek,1.0,1.0
0,Appartement,"[840, 40]",1150 Woluwe-Saint-Pierre,880,1150,Woluwe-Saint-Pierre,1.0,1.0
0,Penthouse,"[1100, 100]",1140 Evere,1200,1140,Evere,1.0,1.0

In [284]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9990 entries, 0 to 0
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9990 non-null   object
 1   price         9990 non-null   object
 2   address       9990 non-null   object
 3   total_price   9990 non-null   int64
 4   postal_code   9990 non-null   object
 5   city          9990 non-null   object
 6   bedrooms      9517 non-null   float64
 7   surface_area  8429 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 960.5+ KB

## Save to excel file

In [285]:
data.to_excel("./data/appartments.xlsx")